@charset "utf-8";
/* CSS Document */
input,textarea{margin:0;padding:0;border:none; outline:none;}
textarea{ resize:none; overflow:auto;}
em{ font-style:normal;}
ul{margin:0;padding:0; list-style:none;}
h1,p,h2{margin:0; font-weight:normal;}
a,input{-webkit-tap-highlight-color:rgba(255,0,0,0);}
img{ border:none; vertical-align:top;}
body{margin:0;position:relative; font-family:Arial,"微软雅黑";color:#666; font-size:26px;}

#tabPic{position: relative; overflow: hidden;}
#listPic{ overflow: hidden; width: 500%;}
#listPic li{width: 20%; float: left; }
#listPic li img{width: 100%; height: 342px;}
.picMask{position: absolute; left: 0; bottom: 0; height: 102px; width: 100%; background: linear-gradient(bottom,rgba(0,0,0,0.8),rgba(0,0,0,0)); background: -webkit-linear-gradient(bottom,rgba(0,0,0,0.8),rgba(0,0,0,0));}
.picMask p{font-size: 29px; color: #fff; text-indent: 40px; line-height: 102px; } 
.picMask nav{height: 10px; position: absolute; right: 50px; top: 40px;}
.picMask nav a{width: 10px; height: 10px; background: #fff; opacity: 0.5; border-radius: 5px; float: left; margin-right: 15px;}
.picMask nav a.active{opacity: 1;}